# ignore system files
.DS_Store

# ignore node dependency directories
/html-dashboard/node_modules/
/html-dashboard/temp/

# ignore log files and databases
*.log
*.sql
*.sqlite

# vagrant
/.vagrant

# large/disallowed file types
# a CDN should be used for these
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
/readme.html
