/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
--------------------------------------------------------------*/
html {
    margin: 0 !important;
    padding: 0 !important;
    overflow: auto;
}

* {
    box-sizing: border-box;
}

div#page{
    position: relative;
    overflow: hidden;
}

.is-admin .l-header, .is-admin .l-sidebar {
    /* top: 2rem; */
}

.student-user #wpadminbar{
    display: none !important;
}

div#content {
    padding: 5rem;
}

/* Loader container */
#ajax-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Make sure it's on top */
}

/* Loader animation (you can customize it) */
#ajax-loader .spinner {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ajax-loader-wrapper {
    width: 100%;
    height: 100%;
    background: #0000006e;
    position: absolute;
    top: 0;
    left: 0;
    display: none; /* Hidden by default */
    z-index: 99999;
}

main.l-main .content-wrapper{
    overflow: hidden;
    min-height: 100vh;
}

.single-course.splide__slide {
    margin-right: 1rem;
}

.learn-today {
    margin-top: 3rem;
}

.load-template-part{
    cursor: pointer;
}

p#wpua-upload-button-existing,
p#wpua-upload-messages-existing,
p#wpua-thumbnail-existing,
p#wpua-remove-button-existing,
p#wpua-undo-button-existing,
form#wpua-edit-2 span.description,
form#wpua-edit-2 p.submit,
.wpua-edit-container h3{
    display: none;
}

form#wpua-edit-2 {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

p#wpua-preview-existing img {
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

table.form-table th {
    display: none;
}

p#wpua-preview-existing {
    margin: 0;
}

div#wpua-images-existing {
    text-align: center;
}

table.form-table td, table.form-table th, table.form-table td, table.form-table {
    border: 0 !important;
}

.avatar-container.show-edit p#wpua-upload-button-existing,
.avatar-container.show-edit p#wpua-upload-messages-existing,
.avatar-container.show-edit form#wpua-edit-2 p.submit{
    display: initial;
}

input#wpua-file-existing {
    width: 100%;
}

button#wpua-upload-existing {
    margin: 10px 0 10px 0;
}


a.wp-user-profile-avatar-link img {
    width: 100%;
    margin: 0;
}

a.wp-user-profile-avatar-link {
    width: 100%;
}

.wp-user-profile-avatar {
    width: 80%;
    display: block;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

.header-icons-group {
    margin-right: 2rem;
}

.c-header-icon.logout a {
    color: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* Login Register Page */

.login-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999999;
    background-color: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-page .welcome-back {
    background: #ffffff8f;
    padding: 2rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.login-page button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.login-page form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem;
    height: 100%;
    text-align: center;
}

form#login-form p,
form#student-registration-form p{
    width: 100%;
    margin: 0;
}

.login-page input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.login-page #login-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.1),
    0 10px 10px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    min-height: 480px;
}

.login-page .welcome-back h3 {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
}

.login-page .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.login-page .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.login-page .right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.login-page .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.login-page .right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.login-page .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.login-page .right-panel-active .overlay-container{
    transform: translateX(-100%);
}

.login-page .overlay {
    background: #2873a9;
    background: -webkit-linear-gradient(to right, #80d0de, #2873a9);
    background: linear-gradient(to right, #80d0de, #2873a9);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.login-page .overlay-panel.overlay-right h1,
.login-page .overlay-panel.overlay-left h1{
    color: #fff;
}

form#login-form h3 {
    margin-bottom: 1rem;
}

.login-page form#login-form  input[type="submit"],
.login-page  form#student-registration-form input[type="submit"]{
    background: #2e7aad;
    border: 0;
    width: 100%;
}

.login-page p.first-last-names {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.login-page p.gender-select {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.login-page p.gender-select label {
    cursor: pointer;
}

.login-page .right-panel-active .overlay {
    transform: translateX(50%);
}

.login-page .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.login-page .overlay-left {
    transform: translateX(-20%);
}

.login-page .right-panel-active .overlay-left {
    transform: translateX(0);
}

.login-page .overlay-right {
    right: 0;
    transform: translateX(0);
}

.login-page .right-panel-active .overlay-right {
    transform: translateX(20%);
}

.login-page .social-container {
    margin: 20px 0;
}

.login-page .social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.is-login-page div#login {
    display: none;
}

.is-login-page div#page {
    height: 100vh;
}

.success-login{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: .5rem;
    flex-flow: column;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
            radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
            conic-gradient(#0000 30%,#ffa516);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
}
@keyframes l13{
    100%{transform: rotate(1turn)}
}

.ajax-form-loader {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #00000069;
    justify-content: center;
    align-items: center;
}

.ajax-form-loader.active{
    display: flex;
}

.actions .assigned-tasks:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.hide-admin-bar #wpadminbar{
    display: none;
}

.hide-admin #wpadminbar{
    display: initial !important;
}

form#pms_new_subscription-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.entry-title {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

form#pms_new_subscription-form > strong {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

tr.pms-account-subscription-details-table__actions a {
    padding: 0.2rem 1em;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
}

tr.pms-account-subscription-details-table__actions a:hover{
    color: #fff;
}

a.pms-account-subscription-action-link.pms-account-subscription-action-link__cancel {
    background: #e76c6c;
}

[name="pms_confirm_cancel_subscription"] {
    background: #e76c6c !important;
    border: 0 !important;
}

a.pms-account-subscription-action-link.pms-account-subscription-action-link__change {
    background: #e39d1e;
}

a.pms-account-subscription-action-link.pms-account-subscription-action-link__abandon {
    background: #d53c3c;
}

[name="pms_confirm_abandon_subscription"] {
    background: #d53c3c !important;
    border: 0 !important;
}


form#pms-abandon-subscription-form > strong {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    gap: 1rem;
}

form#pms-abandon-subscription-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 2rem;
}


form#pms-cancel-subscription-form {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

form#pms-cancel-subscription-form > strong {
    display: flex;
    gap: 1rem;
}

form#pms-change-subscription-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pms-subscription-plan {
    border: 1px solid #ddd;
    border-radius: 11px;
    padding: 0.5rem 1rem;
}

.pms-subscription-plan label {
    margin: 0;
}

.pms-subscription-plan *{
    transition: none !important;
}

.pms-subscription-plan:hover {
    background: #5d53c0;
}

.pms-subscription-plan:hover label {
    color: #fff !important;
}

table.pms-account-subscription-details-table a {
    border-radius: 5px;
    background: #5d53c0;
    padding: 0.3rem 1rem;
}


a.pms-group-dashboard-go-back {
    background: #5d53c0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.pms-group-dashboard {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5rem;
}

div#pms-members-table {
    width: 100%;
}

form#pms-invite-members {
    width: 100%;
}

form.pms-form.pms-gm-edit-details {
    width: 100%;
}

a.pms-remove {
    background: #d53c3c;
    padding: 0.3rem 1rem;
    border-radius: 5px;
}

li.pms-account-navigation-link a {
    color: #000;
    padding: 0.3rem 0;
    font-weight: normal;
}

a.pms-account-navigation-link--active {
    color: #5d53c0 !important;
    font-weight: bold !important;
}

a.pms-account-subscription-action-link.pms-account-subscription-action-link__abandon {
    display: none;
}

button.ajs-button.ajs-ok {
    background: gray;
}

.pickup-what-left .latest-course h4 {
    width: 80%;
    min-width: 70%;
    font-size: 1rem;
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pickup-what-left .latest-course img {
    position: absolute;
    top: 30px;
    width: 100%;
}

.home-courses {
    gap: 0 !important;
}

button.splide__arrow {
    margin: 0;
    opacity: 1;
}

div#popup-course {
    margin-top: 2rem;
    left: 70px;
}

div#popup-header {
    left: 537px;
}

.quiz-buttons .button-left {
    position: relative !important;
    left: unset !important;
    bottom: unset !important;
    transform: unset !important;
    margin: 0 !important;
}

.quiz-buttons {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.course-curriculum .course-item.has-status.status-completed .course-item-status::before {
    background: #3bb54a;
    color: #fff;
    padding: 4px;
    border-radius: 50px;
}

.course-curriculum .course-item.has-status.failed .course-item-status::before {
    background: #f02425;
}

iframe {
    width: 100% !important;
    min-height: 50vh;
}

.assigned-tasks.action .load-template-part {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

div#practice_modal .modal-dialog {
    top: 50%;
    transform: translateY(-50%);
}


#practice_modal .modal-header {
    background: #5c53c0;
    color: #fff;
    text-align: center;
    width: 80%;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
    border: 3px solid #fff;
    margin-top: -2rem;
}

#practice_modal .modal-footer {
    display: flex;
    justify-content: space-around;
}

#practice_modal .radio-group {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 10px;
    width: 20vw;
    margin: 0 auto;
}

#practice_modal .radio-button {
    position: relative;
}

#practice_modal .radio-button input[type="radio"] {
    display: none;
}

#practice_modal .radio-button label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    color: #5c4e8c;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

#practice_modal .radio-button input[type="radio"]:checked + label {
    background-color: #5c4e8c;
    color: #fff;
    border-color: #5c4e8c;
    transform: scale(1.1);
}

#practice_modal .radio-button label:hover {
    border-color: #5c4e8c;
}

#practice_modal input#practice_date {
    width: 100%;
}

#practice_modal button#save-practice {
    background: #3ad13c;
    border-radius: 50px;
    font-size: 1rem;
    min-width: 10vw;
}

#practice_modal .close-modal-btn {
    background: #ef746fab;
    border-radius: 50px;
    font-size: 1rem;
    border: 0;
    min-width: 10vw;
}

button.toast-close-button {
    margin: 0;
}

.header-icons-group{
    align-items: center;
}

ul#bp-nav-menu-notifications-default{
    list-style: none;
    margin: 25px;
    padding: 0;
}
ul#bp-nav-menu-notifications-default li a{
    color: #000000;
}