.class-card {
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  padding: 0;
  overflow: hidden;

  .class-avatar{
      display: flex;
      justify-content: center;
      margin-bottom: -2rem;
      margin-top: 4rem;
    img {
      width: 4rem;
      height: 4rem;
      object-fit: cover;
      border: 3px solid $white;
      border-radius: 10px;
    }
  }

  .class-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    min-height: 150px;
    background: $white;
    padding: 3rem 1rem 2rem 1rem;
    h3{
      text-align: center;
    }

    .active-time{
      text-align: center;
    }

    .class-members{
      margin: 0.5rem auto;
      display: flex;
      justify-content: center;
      align-items: center;
      .bs-group-member{
        a{
          img{
            width: 1.5rem;
            height: 1.5rem;
            object-fit: contain;
          }
        }

        &.has-more-members {
          background: $light_gray;
          border-radius: 100px;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: normal;
        }
      }
    }
  }




}

