$color_1: #102c58;
$color_2: #c3c3c3;
$color_3: #fff;
$color_4: #f5642d;
$color_5: #5f9cfd;
$font-family_1: "Open Sans";
$background-color_1: #ececec;
$background-color_2: #f91605;
$background-color_3: #051835;
$background-color_4: #fff;
$background-color_5: #5f9cfd;
$background-color_6: #1e3e6f;
$background-color_7: #f5642d;
$border-color_1: #cccccc;
$border-color_2: #072048;
$border-right-color_1: #051835;
$border-left-color_1: #5f9cfd;
$border-left-color_2: #f5642d;