.tasks-page {


  #my-tasks {
    border: 1px solid #ddd;
    padding: 0.5rem 1rem;
    color: #636363;
    border-radius: 5px;
    min-width: 200px;
  }

  .report-btns{
    display: flex;
    justify-content: end;
    align-items: center;

    .btn-bordered {
      border-radius: 100px;
      border: 1px solid $secondary_color;
      font-size: 1rem;
      color: $secondary_color;
      padding: 0.5rem 1.5rem;
      margin: 0 1rem;
    }

    .btn-success{
      border-radius: 100px;
      font-size: 1rem;
      background: $light-green;
      color: $white;
      border: 0;
      padding: 0.5rem 1.5rem;
    }
  }



  .task-actions {
    display: flex;
    gap: 1rem;
    justify-content: initial;
    align-items: center;

    a {
      color: $gray;
      font-size: 1rem;
      border: 1px solid $gray;
      padding: 0.5rem;
      min-width: 100px;
      text-align: center;
      border-radius: 5px;

      &:hover{
        color: $secondary_color;
        border-color: $secondary_color;
        font-weight: bold;
      }

      &.active{
        color: $secondary_color;
        border-color: $secondary_color;
        font-weight: bold;
      }
    }

  }

  .sort_tasks{
    display: flex;
    justify-content: end;
    align-items: center;

    #sort_tasks{
      border: 1px solid #ddd;
      padding: 0.5rem 1rem;
      color: #636363;
      border-radius: 5px;
      min-width: 200px;
    }
  }

  .tasks-cards{
    .task-card {
      width: 23%;
      background: $white;
      overflow: hidden;
      border-radius: 15px;
      padding: 1rem;

      &:hover{
        transform: translateY(-10px);
        box-shadow: $light_gray_shadow;
      }

      .task-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;

        i {
          background: $secondary_color;
          color: $white;
          padding: 5px;
          border-radius: 5px;
          font-size: 1rem;
        }

        .tags {
          display: flex;
          gap: 0.5rem;
          justify-content: center;
          align-items: center;

          span {
            padding: 0.2rem 0.5rem;
            border-radius: 5px;
            color: $white;
            font-size: 0.9rem;
            &.homework{
              background: $secondary_color;
            }

            &.overdue{
              background: $primary_red;
            }
          }

        }



      }

      .task-footer{
          display: flex;
          flex-flow: column;
          gap: 0.5rem;
          img {
            width: 100%;
            height: 160px;
            object-fit: cover;
            border-radius: 10px;
          }

          p {
            margin: 0;
            color: $gray;
          }

          .task-date {
            display: flex;
            justify-content: space-between;
            align-items: center;
            i{
              font-size: 1rem;
            }

            p{
              color: $secondary_color;
            }

            span {
              border: 1px solid $orange;
              color: $orange;
              padding: 3px 10px;
              border-radius: 100px;
            }

          }




      }


    }
  }


  #create-task{
    background: #00000087;
    .modal-dialog {
      min-width: 50%;

      label{
        font-weight: bold;
        margin: 0;
      }

      .modal-title {
        text-align: center;
        width: 100%;
      }

      form.create-new-task{
        .resource-type-section{
          display: flex;
          justify-content: initial;
          align-items: center;
          gap: 1rem;
          span {
            font-weight: bold;
          }

          .form-check {
            min-width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            label{
              margin: 0;
            }
          }
        }

        label.task-date {
          display: flex;
          flex-flow: column;
        }

        .preview-task-lesson{
          img {
            width: 100%;
            border-radius: 15px;
            margin: 0.5rem 0;
            height: 200px;
            object-fit: cover;
            box-shadow: $light_gray_shadow;
          }
        }

        .rewarded-section {
          display: flex;
          justify-content: initial;
          align-items: center;
          gap: 1rem;

          .form-check {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
          }


        }

      }

    }



  }

} /*** tasks page ***/